/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('assets/img/background.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.perfil-card {
  margin-top: 100px;
  margin-bottom: 20px;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.9);
}

.perfil-img {
  background-image: url('assets/img/diego.jpeg');
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid var(--bs-primary);
  display: inline-block;
}

